<div class="card border-success mb-3" id="comment-<%= comment.id %>">
    <h5 class="card-header border-success">
      <% user = comment.user %>
      <%= gravatar_for user, size: 30 %>
      <%= user.name %>
    </h5>
  <div class="card-body">
    <p class="card-text"><%= comment.comment %><p>
    <p class="card-text">
      <small class="text-muted">
        <%= time_ago_in_words(comment.created_at) %> ago.
      </small>
    </p>
    <% if current_user?(user) || current_user.admin? %>
      <%= link_to "Delete", comment, method: :delete,
                                     data: { confirm: "You sure?" },
                                     class:  "btn btn-outline-danger" %>
    <% end %>
  </div>
</div>