<div class="col-md-6 col-lg-4">
  <div class="card border-success mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= user.name %></h5>
      <p class="card-text"><%= user.email %></p>
      <p class="card-text">&plus;91 <%= user.mobile_number %></p>
      <%= link_to "View profile", user, class: "btn btn-outline-success" %>
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "Delete user", user, method: :delete,
                                         data: { confirm: "You sure?" },
                                         class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>
</div>