<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<% if @user.properties.any? %>
  <section class="properties py-3">
    <h3>Properties (<%= @user.properties.count %>)</h3>
    <div class="row">
      <%= render @properties %>
    </div>
    <%= will_paginate(
          @properties,
          renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </section>
<% end %>