<div class="card border-success mb-3">
  <%= image_tag(@property.picture.url, class: "card-img-top",
                                       alt:   "Property image") %>
  <% if @property.sold? %>
    <div class="position-absolute w-100">
      <h2 class="sold-tag text-center text-uppercase text-light bg-secondary">
        Sold
      </h2>
    </div>
  <% end %>
  <div class="card-body">
    <p class="card-text d-flex justify-content-between">
      Owner: <span><%= @property.owner_name.titleize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Type: <span><%= @property.property_type.capitalize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Status: <span><%= @property.property_status.capitalize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Bed rooms: <span><%= @property.bed_rooms.upcase %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Area: <span><%= @property.area %> sq. ft.</span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Price: <span>&#x20b9 <%= @property.price %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Street address: <span><%= @property.street_address.titleize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Locality: <span><%= @property.locality.titleize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      City: <span><%= @property.city.titleize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      State: <span><%= @property.state.titleize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Pincode: <span><%= @property.pincode %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Country: <span><%= @property.country.titleize %></span>
    </p>
  </div>
  <div class="card-footer bg-transparent border-success">
    <% user = @property.user %>
    <p class="card-text d-flex justify-content-between">
      Posted by: <span><%= link_to "#{user.name}", user %></span>
    </p>
    <p class="card-text">
      <small class="text-muted">
        Posted <%= time_ago_in_words(@property.created_at) %> ago.
      </small>
    </p>
    <% if @property.sold? && (current_user?(user) || current_user.admin?) %>
      <p class="card-text">
        <small class="text-muted">
          Sold <%= time_ago_in_words(@property.sold_at) %> ago.
        </small>
      </p>
    <% end %>
    <% if current_user?(user) && !@property.sold? %>
      <%= link_to "Interested users (#{@property.interested_users.count})",
                  interested_users_property_path(@property),
                  class: "btn btn-block btn-outline-success rounded-pill" %>
      <%= link_to "Mark as sold", mark_as_sold_property_path(@property),
                  method: :post,
                  data: { confirm: "You sure? You won't be able to undo this" },
                  class: "btn btn-block btn-outline-success rounded-pill" %>
    <% else %>
      <%= render 'shared/wishlist_form' %>
    <% end %>
    <% if (current_user?(user) || current_user.admin?) && !@property.sold? %>
      <%= link_to "Modify property details", edit_property_path(@property),
                  class: "btn btn-block btn-outline-success rounded-pill" %>
      <%= link_to "Delete property", @property,
                  method: :delete,
                  data: { confirm: "You sure?" },
                  class:  "btn btn-block btn-outline-danger rounded-pill" %>
    <% end %>
  </div>
</div>