<div class="card border-success mb-3">
  <% if @property.image.attached? %>
    <%= image_tag(@property.image, class: "card-img-top",
                                   alt:   "Property image") %>
  <% else %>
    <%= image_tag("fallback/default.jpg", class: "card-img-top",
                                          alt:   "Property image") %>
  <% end %>
  <% unless @property.approved? %>
    <div class="position-absolute w-100">
      <h5 class="unapproved-tag text-center text-uppercase bg-warning">
        Pending approval
      </h5>
    </div>
  <% end %>
  <% if @property.sold? %>
    <div class="position-absolute w-100">
      <h2 class="sold-tag text-center text-uppercase text-light bg-secondary">
        Sold
      </h2>
    </div>
  <% end %>
  <div class="card-body">
    <p class="card-text d-flex justify-content-between">
      Owner: <span><%= @property.owner_name.titleize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Type: <span><%= @property.property_type.capitalize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Status: <span><%= @property.property_status.capitalize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Bed rooms: <span><%= @property.bed_rooms.upcase %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Area: <span><%= @property.area %> sq. ft.</span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Price: <span>&#x20b9 <%= @property.price %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Street address: <span><%= @property.street_address.titleize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Locality: <span><%= @property.locality.titleize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      City: <span><%= @property.city.titleize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      State: <span><%= @property.state.titleize %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Pincode: <span><%= @property.pincode %></span>
    </p>
    <p class="card-text d-flex justify-content-between">
      Country: <span><%= @property.country.titleize %></span>
    </p>
  </div>
  <div class="card-footer bg-transparent border-success">
    <% seller = @property.user %>
    <p class="card-text d-flex justify-content-between">
      Posted by:
      <span>
        <%= link_to "#{seller.name}", seller, class: "text-success" %>
      </span>
    </p>
    <p class="card-text">
      <small class="text-muted">
        Posted <%= time_ago_in_words(@property.created_at) %> ago.
      </small>
    </p>
    <% if @property.sold? && (current_user?(seller) || current_user.admin?) %>
      <% buyer = @property.buyer %>
      <p class="card-text d-flex justify-content-between">
        Sold to:
        <% if current_user.admin? %>
          <span>
            <%= link_to "#{buyer.name}", buyer, class: "text-success" %>
          </span>
        <% else %>
          <span><%= buyer.name %></span>
        <% end %>
      </p>
      <p class="card-text">
        <small class="text-muted">
          Sold <%= time_ago_in_words(@property.sold_at) %> ago.
        </small>
      </p>
    <% end %>
    <% if @property.approved? && !@property.sold? %>
      <%= render 'shared/social_share' %>
    <% end %>
    <% if !@property.approved? && current_user.admin? %>
      <%= link_to "Approve property details", approve_property_path(@property),
                  method: :patch,
                  data: { confirm: "You sure?" },
                  class: "btn btn-block btn-outline-warning rounded-pill" %>
    <% end %>
    <% if @property.approved? %>
      <% if current_user?(seller) && !@property.sold? %>
        <%= link_to "Interested users (#{@property.interested_users.count})",
                    interested_users_property_path(@property),
                    class: "btn btn-block btn-outline-success rounded-pill" %>
      <% else %>
        <%= render 'shared/wishlist_form' %>
      <% end %>
    <% end %>
    <% if (current_user?(seller) || current_user.admin?) && !@property.sold? %>
      <%= link_to "Modify property details", edit_property_path(@property),
                  class: "btn btn-block btn-outline-success rounded-pill" %>
      <%= link_to "Delete property", @property,
                  method: :delete,
                  data: { confirm: "You sure?" },
                  class:  "btn btn-block btn-outline-danger rounded-pill" %>
    <% end %>
  </div>
</div>