<h1>CommonfloorClone</h1>

<p>Hi <%= @seller.name %>,</p>

<p>
  <%= @user.name %> is interested in your property,
  <%= link_to "#{property_title(@property)}", property_url(@property) %>.
</p>

<p>The contact details of <%= @user.name %> are as follows:</p>

<ul>
  <li><strong>Email:</strong> <%= mail_to @user.email %></li>
  <li><strong>Mobile number:</strong> <%= tel_to @user.mobile_number %></li>
</ul>

<p>
  You can also view the list of all the users interested in this property by
  navigating to the link below:
</p>

<%= link_to "Interested users", interested_users_property_url(@property) %>