<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <%= link_to "CommonfloorClone", root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= yield(:home_page_active_status) %>">
          <%= link_to "Home", root_path, class: "nav-link"%>
        </li>
        <li class="nav-item <%= yield(:properties_index_page_active_status) %>">
          <%= link_to "Properties", properties_path, class: "nav-link"%>
        </li>
        <li class="nav-item <%= yield(:new_property_page_active_status) %>">
          <%= link_to "Post property", new_property_path, class: "nav-link"%>
        </li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class="nav-item <%= yield(:admin_page_active_status) %>">
              <%= link_to "Admin", admin_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
               role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
              Account &amp; List
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Wishlist", favorites_user_path(current_user),
                                      class: "dropdown-item" %>
              <%= link_to "Bought properties",
                          bought_properties_user_path(current_user),
                          class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Profile", current_user, class: "dropdown-item" %>
              <%= link_to "Settings", edit_user_path(current_user),
                                      class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", logout_path, method: :delete,
                                                  class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item <%= yield(:login_page_active_status) %>">
            <%= link_to "Log in", login_path, class: "nav-link"%>
          </li>
          <li class="nav-item <%= yield(:signup_page_active_status) %>">
            <%= link_to "Sign up", signup_path, class: "nav-link"%>
          </li>
        <% end %>
      </ul>
      <%= form_tag(search_path, method: :get,
                                class: "form-inline my-2 my-lg-0") do %>
        <%= search_field_tag :q, params[:q],
                                 class: "form-control mr-sm-2",
                                 placeholder: "Enter locality or city",
                                 "area-label":  "Search" %>
        <%= submit_tag "Search",
              class: "btn btn-outline-success rounded-pill my-2 my-sm-0" %>
      <% end %>
    </div>
  </nav>
</header>